# General
.DS_Store
.env
*.log

# Editors / IDEs
.vscode/
.idea/
*.swp
*.swo

# Node.js
node_modules/
dist/
build/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.npm/
*.tsbuildinfo

# Rust
target/
**/*.rs.bk

# Svelte
.svelte-kit/
*.backup

# Java/Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.jar
out/

# Figma
Figma/

